:root {
    color-scheme: dark light;
}

#tool-list {
    border-right: 1px solid #ededed76;
}

.list-group .list-group-item {
    border: 0px;
    border-bottom: 1px solid #ededed76;
    border-radius: 0px;
}

.add-button {
    border-radius: 30px;
}

body, html {
    height: 100%;
    overflow-x: hidden; /* 防止收合時出現水平滾動條 */
}
.main-container {
    min-height: 100vh;
}

/* 讓 Sidebar 有平滑的過渡效果 */
.sidebar {
    transition: margin-left 0.35s ease-in-out;
}

/* 收合狀態的 Sidebar */
.sidebar.collapsed {
    margin-left: -280px; /* 將 sidebar 向左移出畫面 */
}